@font-face {
	font-display: swap;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/notosans-regular-webfont.woff2') format('woff2'), url('/fonts/notosans-regular-webfont.woff') format('woff');
}


@font-face {
	font-display: swap;
	font-family: Kavoon;
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/kavoon-regular-webfont.woff2') format('woff2'), url('/fonts/kavoon-regular-webfont.woff2') format('woff');
}
