.cart-toggle {
	align-items: center;
	background-color: var(--color-light);
	border-radius: 10px;
	display: flex;
	float: right;
	height: 44px;
	justify-content: center;
	padding: 5px;
	width: 44px;

	&:hover,
	&:focus {
		background-color: var(--color-primary-light);
	}

	&:focus {
		outline: 2px solid var(--color-dark);
	}

	svg {
		fill: var(--color-primary);
	}
}

.cart {
	background-color: var(--color-light);
	border-bottom-left-radius: var(--radius);
	padding: var(--flow-space);
}

.cart__top {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.cart__total {
	font-family: var(--font-heading);
	font-size: 1.5rem;
	text-align: right;
}

@media screen and (max-width: $bp-sml-max) {
	.cart {
		min-width: 300px;
		overflow-x: hidden;
		position: fixed;
		right: 0;
		top: 0;
		transform: translateX(100%);
		transition: box-shadow .3s, transform .3s;

		// .cart-open
		&-open {
			box-shadow: 0 10px 39px 10px rgba(62, 66, 66, .5);
			transform: translateX(0);
		}
	}
}

@media screen and (min-width: $bp-lg) {
	.cart {
		background: var(--color-grey-xlight);
		max-height: 100vh;
	}

	.cart__wrap {
		display: flex;
		flex-direction: column;
		height: 100%;
		position: sticky;
		top: var(--flow-space);
	}

	.cart__bottom {
		margin-top: auto;
	}
}
